<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- mapper namespace는 비우면 에러 -->
  <mapper namespace="com.winter.app.account.AccountDAO">

  
<!--   	<select id="getList" resultMap="getListResult" parameterType="Map">
  		
  		SELECT * FROM
  		(
  			SELECT ROWNUM R, PA.* FROM
	  		(
	  			SELECT * 
	  			FROM PRODUCT P
	  				 LEFT JOIN 
	  				 ACCOUNT A
	  			 	USING (PRODUCTNUM) 
	  			WHERE USERNAME=#{memberDTO.userName}) PA
  		)
  		WHERE R BETWEEM #{pager.startRow} AND #{pager.lastRow}
  	
  	</select> -->
  
  </mapper>